/* ---------------------------------------------------
/////////////////// IMPORT SASS /////////////////////
---------------------------------------------------- */

@charset 'utf-8';

// Variables, Normalize, Colors, Typo ...
@import "base/functions";
@import "base/vars";
@import "base/normalize";
@import "base/typography";

// Layout

// Components

// Modules

/* ---------------------------------------------------
/////////////////////// GLOBAL ////////////////////////
---------------------------------------------------- */

body{ 
    background: rgb(25,96,60);
    background: linear-gradient(219deg, rgba(25,96,60,1) 0%, rgba(12,112,128,1) 100%);
    color:$text;
    @include font-face(PoppinsRegular, fonts/PoppinsRegular);
}
main{
    width:1024px;
    height:100%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    background-color: $cream;
}

h2{
    color: $dark;
    @include fontsize(24);
}

h3{
    color: $dark;
    @include fontsize(18); 
} 

p{
    @include fontsize(16);
    line-height:1.4;
}

.btn-primary{
    background-color:$dark;
    padding:.5rem 1rem;
    @include fontsize(14);
    color:#fff;
}


// Content
main{
    padding: 4rem;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:.3rem;
}

thead{
    background-color:#4C4D7A;
    text-align:center;
}

tbody{ 
    // Code
}